<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/style-devmode.css">
</head>
<body class="h-screen font-sans">
    {% csrf_token %}
    <div class="flex h-screen overflow-x-hidden">
        
        <div id="menu-overlay" class="fixed inset-0 bg-black/15 z-20 hidden lg:hidden"></div>

        <div id="sidebar" class="fixed lg:relative inset-y-0 left-0 w-56 h-full px-3 bg-white z-30 transform -translate-x-full lg:translate-x-0 transition-transform duration-300 ease-in-out">
            <div class="flex">
                <a class="mx-auto my-3" href="">
                    <img src="{% static "icon/logosmp.png" %}" alt="logo" class="w-16">
                </a>
            </div>
            <div class="my-4 w-fit h-fit flex flex-col gap-3 text-xl font-semibold text-[#3d3d3d]">
                {% with url_name=request.resolver_match.url_name %}
                <a class="flex flex-row w-[200px] px-1 justify-start items-center h-fit rounded-xl transition-all duration-200
                    {% if url_name == 'index' %}
                        text-white bg-[#84A7FF]
                    {% else %}
                        shadow-md hover:bg-[#D8ECFF]
                    {% endif %}" href="{% url 'index' %}">
                    <img src="
                        {% if url_name == 'index' %}
                            {% static 'icon/dashboard-on.svg' %}
                        {% else %}
                            {% static 'icon/dashboard-off.svg' %}
                        {% endif %}" alt="board">
                    <p class="ms-2">DASHBOARD</p>
                </a>
                <a class="flex flex-row w-[200px] px-1 justify-start items-center h-fit rounded-xl transition-all duration-200
                    {% if url_name == 'presensi' %}
                        text-white bg-[#84A7FF]
                    {% else %}
                        shadow-md hover:bg-[#D8ECFF]
                    {% endif %}" href="{% url 'presensi' %}">
                    <img src="
                        {% if url_name == 'presensi' %}
                            {% static 'icon/presensi-on.svg' %}
                        {% else %}
                            {% static 'icon/presensi-off.svg' %}
                        {% endif %}" alt="pre">
                    <p class="ms-2">PRESENSI</p>
                </a>
                <a class="flex flex-row w-[200px] px-1 justify-start items-center h-fit rounded-xl transition-all duration-200
                    {% if url_name == 'rekap' %}
                        text-white bg-[#84A7FF]
                    {% else %}
                        shadow-md hover:bg-[#D8ECFF]
                    {% endif %}" href="{% url 'rekap' %}">
                    <img src="
                        {% if url_name == 'rekap' %}
                            {% static 'icon/rekap-on.svg' %}
                        {% else %}
                            {% static 'icon/rekap-off.svg' %}
                        {% endif %}" alt="res">
                    <p class="ms-2">REKAP</p>
                </a>
                <a class="flex flex-row w-[200px] px-1 justify-start items-center h-fit rounded-xl transition-all duration-200
                    {% if url_name == 'pengaturan' %}
                        text-white bg-[#84A7FF]
                    {% else %}
                        shadow-md hover:bg-[#D8ECFF]
                    {% endif %}" href="{% url 'pengaturan' %}">
                    <img src="
                        {% if url_name == 'pengaturan' %}
                            {% static 'icon/pengaturan-on.svg' %}
                        {% else %}
                            {% static 'icon/pengaturan-off.svg' %}
                        {% endif %}" alt="set">
                    <p class="ms-2">PENGATURAN</p>
                </a>


                {% comment %} Manejemen {% endcomment %}

                <div class="flex h-fit w-full items-center gap-2.5 px-0.5 text-sm font-bold">
                    <p>Manejemen</p>
                    <div class="w-full h-1 rounded-full bg-gray-800"></div>
                </div>
                <a class="flex flex-row w-[200px] px-1 justify-start items-center h-fit rounded-xl transition-all duration-200
                    {% if url_name == 'siswa' %}
                        text-white bg-[#84A7FF]
                    {% else %}
                        shadow-md hover:bg-[#D8ECFF]
                    {% endif %}" href="{% url 'siswa' %}">
                    <img src="
                        {% if url_name == 'siswa' %}
                            {% static 'icon/manajemen/siswa-on.svg' %}
                        {% else %}
                            {% static 'icon/manajemen/siswa-off.svg' %}
                        {% endif %}" alt="set">
                    <p class="ms-2">siswa</p>
                </a>
                <a class="flex flex-row w-[200px] px-1 justify-start items-center h-fit rounded-xl transition-all duration-200
                    {% if url_name == 'guru' %}
                        text-white bg-[#84A7FF]
                    {% else %}
                        shadow-md hover:bg-[#D8ECFF]
                    {% endif %}" href="{% url 'guru' %}">
                    <img src="
                        {% if url_name == 'guru' %}
                            {% static 'icon/manajemen/guru-on.svg' %}
                        {% else %}
                            {% static 'icon/manajemen/guru-off.svg' %}
                        {% endif %}" alt="set">
                    <p class="ms-2">guru</p>
                </a>
                <a class="flex flex-row w-[200px] px-1 justify-start items-center h-fit rounded-xl transition-all duration-200
                    {% if url_name in aktive_dalam_kelas %}
                        text-white bg-[#84A7FF]
                    {% else %}
                        shadow-md hover:bg-[#D8ECFF]
                    {% endif %}" href="{% url 'kelas' %}">
                    <img src="
                        {% if url_name in aktive_dalam_kelas %}
                            {% static 'icon/manajemen/kelas-on.svg' %}
                        {% else %}
                            {% static 'icon/manajemen/kelas-off.svg' %}
                        {% endif %}" alt="set">
                    <p class="ms-2">{{ tombol_kelas }}</p>
                    {% comment %} <p>{{url_name}}</p> {% endcomment %}
                </a>
                {% endwith %}
            </div>
        </div>

        <div class="flex-1 flex flex-col h-screen w-full overflow-hidden">
            <div class="relative flex flex-row w-full h-16 lg:h-24 justify-between items-center bg-white px-4 flex-shrink-0">
                <button id="menu-btn" class="lg:hidden p-2 text-[#3d3d3d]">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>
                <div class="absolute left-1/2 -translate-x-1/2 lg:relative lg:left-auto lg:translate-x-0 flex flex-col h-fit w-fit items-center lg:items-start lg:justify-start">
                    <h1 class="text-xl font-semibold md:text-3xl md:font-bold text-[#3d3d3d]">
                        {{ title }}
                    </h1>
                </div>
                <div class="flex flex-row h-full w-auto items-center p-4">
                    <img class="size-11 md:size-14" src="{% static "icon/profile.svg" %}" alt="">
                </div>
            </div>
            
            <main class="flex-1 overflow-auto p-3 lg:p-5 bg-blue-50">
                {% if messages %}
                    <div class="p-2">
                        {% for message in messages %}
                        <div class="mb-2 text-sm {{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% block isi %}
                {% endblock isi %}
            </main>
        </div>
    </div>

    <script src="{% static "js/main.js" %}" defer></script>
    {% block extra_js %}{% endblock extra_js %}
</body>
</html>