{% extends "administrasi/base.html" %}
{% load static %}
{% block isi %}
<div class="bg-white p-3 w-full h-fit gap-3 rounded-xl shadow-md mb-5 flex flex-col">
    <div class="w-full h-fit flex flex-row justify-between items-center mb-3">
        <h2 class="text-lg font-medium">Tambah Mata Pelajaran untuk {{ guru.nama }}</h2>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="space-y-4">
            <div>
                <label for="{{ form.mapel.id_for_label }}" class="block text-sm font-medium text-gray-600 mb-1">Pilih Mata Pelajaran</label>
                {{ form.mapel }}
            </div>
        </div>
        <div class="mt-5 flex flex-row justify-end gap-3">
            <a href="{% url 'edit_guru' obj_id=guru.id %}" class="w-fit h-8 bg-red-200 hover:bg-red-400 text-white font-medium py-4 px-8 rounded-lg flex items-center space-x-1 text-sm transition-colors">
                Batal
            </a>
            <button type="submit" class="w-fit h-8 bg-blue-400 hover:bg-blue-600 text-white font-medium py-4 px-8 rounded-lg flex items-center space-x-1 text-sm transition-colors">
                Simpan
            </button>
        </div>
    </form>
</div>
{% endblock isi %}