{% extends "administrasi/base.html" %}
{% load static %}
{% block isi %}
    <div class="w-full h-fit md:h-full grid grid-cols-1 md:grid-cols-2 md:grid-rows-15 xl:grid-cols-15 xl:grid-rows-12 gap-2.5 xl:gap-4 overflow-y-scroll md:overflow-hidden">

        <div class="flex flex-col md:flex-row gap-3 items-center p-2.5 bg-white md:col-start-1 md:row-start-1 md:col-span-full xl:col-start-1 xl:row-start-1 xl:col-span-full xl:row-span-1 rounded-2xl shadow-sm md:shadow-xl">
            {% with url_name=request.resolver_match.url_name %}
            <a class="
            {% comment %} MENONAKTIFKAN TOMBOL {% endcomment %}
            {% comment %} cursor-not-allowed pointer-events-none opacity-50{% endcomment %}
            h-full border border-gray-200 flex flex-row w-full px-1 justify-center items-center rounded-xl transition-all duration-200
                {% if url_name == 'manual' %}
                    text-[#84A7FF] bg-white border border-[#84A7FF] shadow-sm shadow-[#84A7FF]
                {% else %}
                    shadow-md hover:bg-[#D8ECFF]
                {% endif %}" href="{% url 'manual' %}">
                <p class="">Manual Presensi</p>
            </a>
            <a class="border border-gray-200 h-full flex flex-row w-full px-1 justify-center items-center rounded-xl transition-all duration-200
                {% if url_name == 'deteksi' %}
                    text-[#84A7FF] bg-white border border-[#84A7FF] shadow-sm shadow-[#84A7FF]
                {% else %}
                    shadow-md hover:bg-[#D8ECFF] hover:shadow-blue-300

                {% endif %}" href="{% url 'deteksi' %}">
                <p class="">Deteksi Wajah</p>
            </a>
            <a class="border border-gray-200 h-full flex flex-row w-full px-1 justify-center items-center rounded-xl transition-all duration-200
                {% if url_name == 'import_gambar' %}
                    text-[#84A7FF] bg-white border border-[#84A7FF] shadow-sm shadow-[#84A7FF]
                {% else %}
                    shadow-md hover:bg-[#D8ECFF] hover:shadow-blue-300

                {% endif %}" href="{% url 'import_gambar' %}">
                <p class="">Scan Gambar</p>
            </a>
            {% endwith %}
        </div>
        {% block presensi %}{% endblock presensi %}
    </div>
{% endblock isi %}

{% block extra_js %}

{% endblock extra_js %}